@import url("http://fonts.cdnfonts.com/css/circular-std-book");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bgLogin {
  background-image: linear-gradient(
    to bottom,
    hsl(330, 25%, 21.96%) 0%,
    hsl(329.2, 24.48%, 21.96%) 8.1%,
    hsl(326.77, 23.02%, 21.96%) 15.5%,
    hsl(322.37, 20.78%, 21.96%) 22.5%,
    hsl(315.13, 17.92%, 21.93%) 29%,
    hsl(303.04, 14.58%, 21.88%) 35.3%,
    hsl(285.51, 13.86%, 22.55%) 41.2%,
    hsl(267.88, 13.78%, 23.39%) 47.1%,
    hsl(250.84, 13.7%, 24.22%) 52.9%,
    hsl(235.2, 15.01%, 24.71%) 58.8%,
    hsl(225.04, 18.96%, 24.57%) 64.7%,
    hsl(218.72, 22.69%, 24.4%) 71%,
    hsl(214.62, 26%, 24.23%) 77.5%,
    hsl(212, 28.69%, 24.07%) 84.5%,
    hsl(210.5, 30.49%, 23.96%) 91.9%,
    hsl(210, 31.15%, 23.92%) 100%
  ) !important;
}

.react-flow__controls-button {
  background: rgb(190, 190, 190) !important;
  border-bottom: 1px solid rgb(190, 190, 190) !important;
}
